:root {
  --purple: #5a4ad1;
  --white: #ffffff;
  --border: #ccc;
  --dark-grey: #58666c;
  --light-grey: #a8b2b7;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid var(--border);
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: var(--purple);
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--white);
}

.profile-title {
  font-size: 26px;
}

.profile-sub-title {
  text-align: center;
  font-size: 14px;
  color: var(--dark-grey);
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 25px auto;
}

.cards-container img{
  width: 28px;
}

.me,
.team {
  padding: 15px;
  border-radius: 8px;
  width: 38%;
  position: relative;
  text-align: left;
  border: 1px solid var(--border);
}

.selected {
  border: 1px solid var(--purple);
}

.me p,
.team p {
  color: var(--dark-grey);
}

.success-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--purple);
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 75%;
  margin: 35px auto 0 auto;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 10;
}

.stepsCountContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 65px auto;
  color: var(--white);
  font-size: 14px;
  position: relative;
}

.stepsCount {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  color: rgb(144, 143, 143);
  background-color: var(--white);
}

.stepsCountContainer::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: rgb(144, 143, 143);
  z-index: -1;
}

.progress {
  background-color: var(--purple);
}

.selectedStep {
  background-color: var(--purple);
  color: var(--white);
}

.profile-content {
  width: 80%;
  margin: 0 auto;
}

.success p {
  color: var(--dark-grey);
}

::placeholder {
  color: var(--light-grey);
}
