body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #5a4ad1;
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #fff;
}

.profile-title {
  font-size: 24px;
}

.profile-sub-title {
  text-align: center;
  font-size: 12px;
  color: #444;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.card-left,
.card-right {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #5a4ad1;
  width: 40%;
}

.card-left p,
.card-right p {
  color: #444;
}

.success-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5a4ad1;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 85%;
  margin: 0 auto;
}
